<script src="http://maps.googleapis.com/maps/api/js?key=<%= ENV["MAPS_API"]%>&libraries=places&callback=init" async defer></script>

<script>
  function init() {
    var input = document.getElementById('profile_location');
    var options = {
      componentRestrictions: {country: 'au'},
      types: ['(cities)']
    };
    autocomplete = new google.maps.places.Autocomplete( input, options );
  }
  google.maps.event.addDomListener(window, 'load', init);
</script>

<%= form_for(profile) do |f| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :location, "Suburb" %>
    <%= f.text_field :location %>
  </div>

  <div class="field">
    <%= f.label :bio %>
    <%= f.text_area :bio %>
  </div>

  <div class="field">
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
    <%= f.hidden_field(:avatar_cache) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
