<script src="http://maps.googleapis.com/maps/api/js?key=<%= ENV["MAPS_API"]%>&libraries=places&callback=initAutocomplete" async defer></script>

<script>
  var placeSearch, autocomplete;
  var componentForm = {
    street_number: 'short_name',
    route: 'long_name',
    locality: 'long_name',
    administrative_area_level_1: 'short_name',
    country: 'long_name',
    postal_code: 'short_name'
  };

  function initAutocomplete() {
    // Create the autocomplete object, restricting the search to geographical
    // location types.
    autocomplete = new google.maps.places.Autocomplete(
        /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
        {types: ['geocode']});

    // When the user selects an address from the dropdown, populate the address
    // fields in the form.
    autocomplete.addListener('place_changed', fillInAddress);
  }

  function fillInAddress() {
    // Get the place details from the autocomplete object.
    var place = autocomplete.getPlace();

    for (var component in componentForm) {
      document.getElementById(component).value = '';
      document.getElementById(component).disabled = false;
    }

    // Get each component of the address from the place details
    // and fill the corresponding field on the form.
    for (var i = 0; i < place.address_components.length; i++) {
      var addressType = place.address_components[i].types[0];
      if (componentForm[addressType]) {
        var val = place.address_components[i][componentForm[addressType]];
        document.getElementById(addressType).value = val;
      }
    }
  }
</script>

<%= form_for(space, :html => {:class => 'control is-horizontal'})  do |f| %>
  <% if space.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(space.errors.count, "error") %> prohibited this space from being saved:</h2>

      <ul>
      <% space.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, class: "label" %>
    <%= f.text_field :name, class: "input" %>

    <%= f.label :description %>
    <%= f.text_area :description, class: "input" %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price, class: "input" %>
  </div>

  <div id="locationField" class="field">
    <input id="autocomplete" placeholder="Enter your address"
           onFocus="initAutocomplete" type="text" class="input"></input>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
      <%= f.label :street_number, class: "label is-normal" %>
    </div>
    <div class="field-body">
      <%= f.text_field :street_number, id: 'street_number', class: "input is-narrow" %>
      <%= f.text_field :street_name, id: 'route', class: "input is-expanded" %>
    </div>
  </div>

  <div class="field">
    <%= f.label :suburb %>
    <%= f.text_field :suburb, id: 'locality', class: "input" %>
  </div>

  <div class="field">
    <%= f.label :state %>
    <%= f.text_field :state, id: 'administrative_area_level_1', class: "input" %>
  </div>

  <div class="field">
    <%= f.label :country %>
    <%= f.text_field :country, id: 'country', class: "input" %>
  </div>

  <div class="field">
    <%= f.label :postal_code %>
    <%= f.text_field :postal_code, id: 'postal_code', class: "input" %>
  </div>

  <div class="field">
    <%= f.label :images %>
    <%= f.file_field :images, multiple: true %>
    <%= f.hidden_field(:images_cache) %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id, class: "input" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
