<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["MAPS_API"]%>&callback=initMap">
</script>

<p id="notice"><%= notice %></p>

<h1>Spaces</h1>

<script>
function initMap() {
  var myLatLng = {lat: -33.86, lng: 151.209};

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 12,
    center: myLatLng
  });

  var features = [
            <% @spaces.each do |space| %>
            <% if !space.latitude.blank? %>
              {
                position: new google.maps.LatLng(<%= space.latitude %>, <%= space.longitude %>),
                type: 'info'
              },
            <% end %>
            <% end %>
          ];

          // Create markers.
       features.forEach(function(feature) {
         var marker = new google.maps.Marker({
           position: feature.position,
           map: map
         });
       });
     }

</script>


<%= search_form_for @q do |f| %>


  Your search returned <%= @spaces.count %> values
  <%= f.label :name_or_description_or_suburb_cont %>
  <%= f.search_field :name_or_description_or_suburb_cont %>

  <%= f.submit %>
<% end %>

<div class="columns is-multiline">
  <div class="column is-two-thirds">
    <div class="card">
      <div id="map" style="height:100%">
      </div>
    </div>
  </div>

  <% @spaces.each do |space| %>

    <div class="column is-one-third">
    <div class="card">

      <div class="card-image">
        <figure class="image is-4by3">
          <a href="<%= space_path(space) %>"><%= image_tag space.images[0].url %></a>
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="http://bulma.io/images/placeholders/96x96.png" alt="Image">
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4"><%= space.name %></p>
            <p class="subtitle is-6"><%= space.user.profile.name %></p>
          </div>
        </div>
        <div class="content">
          <p><%= space.description %></p>
          <p><%= space.suburb %>, <%= space.state %>, <%= space.country %></p>
          <p><%= link_to 'Book now', new_booking_path(space_id: space.id), class: 'button' %></p>
          <small><%= link_to 'Show', space %> <%= link_to 'Edit', edit_space_path(space) %> <%= link_to 'Destroy', space, method: :delete, data: { confirm: 'Are you sure?' } %></small>
        </div>
      </div>
    </div>
  </div>

  <% end %>
</div>


<br>

<%= link_to 'New Space', new_space_path %>
