<p id="notice"><%= notice %></p>

<h1>Spaces</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Street number</th>
      <th>Street name</th>
      <th>Suburb</th>
      <th>State</th>
      <th>Country</th>
      <th>Postal code</th>
      <th>Images</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @spaces.each do |space| %>
      <tr>
        <td><%= space.name %></td>
        <td><%= space.description %></td>
        <td><%= space.street_number %></td>
        <td><%= space.street_name %></td>
        <td><%= space.suburb %></td>
        <td><%= space.state %></td>
        <td><%= space.country %></td>
        <td><%= space.postal_code %></td>
        <td><%= space.images %></td>
        <td><%= space.user %></td>
        <td><%= link_to 'Show', space %></td>
        <td><%= link_to 'Edit', edit_space_path(space) %></td>
        <td><%= link_to 'Destroy', space, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Space', new_space_path %>
