<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["MAPS_API"]%>&callback=initMap">
</script>

<p id="notice"><%= notice %></p>

<div class="content">
  <h1>Spaces</h1>
</div>
<script>
function initMap() {
  var myLatLng = {lat: -33.86, lng: 151.209};

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 12,
    center: myLatLng
  });

  var features = [
            <% @spaces.each do |space| %>
              <% if !space.latitude.blank? %>
                {
                  position: new google.maps.LatLng(<%= space.latitude %>, <%= space.longitude %>),
                  type: 'info'
                },
              <% end %>
            <% end %>
          ];

          // Create markers.
       features.forEach(function(feature) {
         var marker = new google.maps.Marker({
           position: feature.position,
           map: map
         });
       });
     }

</script>


<%= search_form_for @q do |f| %>
  <div class="field">
    <div class="field is-grouped">
      <button class="button"><%= link_to 'New Space', new_space_path %></button>
      <div class="field has-addons">
        <div class="control">
          <%= f.search_field :name_or_description_or_suburb_cont, class: 'input', placeholder: "Description/Suburb" %>
        </div>
        <div class="control">
          <%= f.submit class: 'button' %>
        </div>
      </div>
    </div>
    <div class="help has-text-left">
      Showing <%= @spaces.count %> spaces
    </div>
  </div>
<% end %>


<div class="columns is-multiline">
  <div class="column is-two-thirds">
    <div class="card">
      <div id="map" style="height:100%; min-height: 300px">
      </div>
    </div>
  </div>

  <% @spaces.each do |space| %>

    <div class="column is-one-third">
    <div class="card has-text-left">

      <div class="card-image">
        <figure class="image is-4by3">
          <% if space.images[0] %>
            <a href="<%= space_path(space) %>"><%= image_tag space.images[0].url %></a>
          <% else %>
            <a href="<%= space_path(space) %>"><img src="http://bulma.io/images/placeholders/4x3.png" alt="Image"></a>
          <% end %>
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <% if space.user.profile.avatar %>
                <%= image_tag space.user.profile.avatar.url %>
              <% else %>
                <img src="http://bulma.io/images/placeholders/96x96.png" alt="Image">
              <% end %>
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4"><%= space.name %></p>
            <p class="subtitle is-6"><%= space.user.profile.name %>
            <% if user_signed_in? %>
              <% if space.user.id != current_user.id %>
                <%= link_to 'Message me!', conversations_path(sender_id: current_user.id, recipient_id: space.user.id), method: 'post' %>
              <% end %></p>
            <% end %>
          </div>
        </div>
        <div class="content">
          <p><%= space.description %></p>
          <p><%= space.suburb %>, <%= space.state %>, <%= space.country %></p>
          <p><%= number_to_currency(space.price) %></p>
          <% if user_signed_in? %>
            <% if space.user.id != current_user.id %>
              <p><%= link_to 'Book now', new_booking_path(space_id: space.id), class: 'button' %></p>
            <% end %>
            <% if policy(space).update? %>
              <small><%= link_to 'Show', space %> <%= link_to 'Edit', edit_space_path(space) %> <%= link_to 'Destroy', space, method: :delete, data: { confirm: 'Are you sure?' } %></small>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <% end %>
</div>

<br>
