

<nav class="nav">
  <div class="nav-left">
    <a class="nav-item" href="/">
      <%= image_tag 'sprouted_s.png' %>
    </a>
    <%= link_to 'About', about_path, class: 'nav-item' %>
  </div>

  <div class="nav-center">
    <a class="nav-item">
      <span class="icon">
        <i class="fa fa-github"></i>
      </span>
    </a>
    <a class="nav-item">
      <span class="icon">
        <i class="fa fa-twitter"></i>
      </span>
    </a>
  </div>

  <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
  <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
  <span id="nav-toggle" class="nav-toggle">
    <span></span>
    <span></span>
    <span></span>
  </span>

  <!-- This "nav-menu" is hidden on mobile -->
  <!-- Add the modifier "is-active" to display it on mobile -->
  <div id="nav-menu" class="nav-right nav-menu">


    <%= link_to "Spaces", spaces_path, class: 'nav-item'%>
    <%= link_to "Contact Us", new_enquiry_path, class: 'nav-item'%>
    <% if user_signed_in? && policy(:dashboard).show_admin? %>
      <%= link_to "Admin Dashboard", admindashboard_path, class: 'nav-item' %>
    <% end %>
    <% if user_signed_in? %>
      <%= link_to "Dashboard", dashboard_path, class: 'nav-item' %>
      <%= link_to "Your profile", profile_path(current_user.profile.id), class: 'nav-item' %>
      <%= link_to "Sign out", destroy_user_session_path, :method => :delete, class: 'nav-item' %>
    <% else %>
      <%= link_to "Sign in", new_user_session_path, class: 'nav-item'%>
    <% end %>

  </div>
</nav>

<script type="text/javascript">
    document.getElementById("nav-toggle").addEventListener("click", toggleNav);
    function toggleNav() {
            var nav = document.getElementById("nav-menu");
            var className = nav.getAttribute("class");
            if(className == "nav-right nav-menu") {
                nav.className = "nav-right nav-menu is-active";
            } else {
                nav.className = "nav-right nav-menu";
            }
    }
</script>
