<%= form_for booking do |f| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if booking == nil %>
    <% if Space.find(params[:space_id]).user != current_user %>
      <div class="field">
        <%= f.label :start_date %>
        <%= f.date_select :start_date %>
      </div>

      <div class="field">
        <%= f.label :end_date %>
        <%= f.date_select :end_date %>
      </div>
    <% end %>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>

  <% if booking != nil %>
    <% if booking.user == current_user %>
      <div class="field">
        <%= f.label :start_date %>
        <%= f.date_select :start_date %>
      </div>

      <div class="field">
        <%= f.label :end_date %>
        <%= f.date_select :end_date %>
      </div>
    <% end %>
    <% if booking.space.user == current_user %>
      <p>Booking for <%= "#{booking.start_date} til #{booking.end_date}" %></p>
      <div class="field">
        <%= f.label :approved %>
        <%= f.check_box :approved %>
      </div>
    <% end %>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>

  <div class="field">
    <% if params[:space_id].present? %>
      <%= f.hidden_field :space_id, value: params[:space_id]%>
    <% end %>
  </div>

<% end %>
