<h1>Host Dashboard</h1>

<h3>My Bookings</h3>

<h4>Ready for Payment</h4>
<table class="hover">
  <thead>
    <tr>
      <th>Start</th>
      <th>End</th>
      <th>Room</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @approved_bookings.each do |booking| %>
      <tr>
        <td><%= booking.start_date %></td>
        <td><%= booking.end_date %></td>
        <td><%= booking.space.name %></td>
        <td><%= number_to_currency(booking.space.price) %></td>
        <td><%= render 'partials/stripe', booking: booking %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h4>Pending Approval</h4>
<table class="hover">
  <thead>
    <tr>
      <th>Start</th>
      <th>End</th>
      <th>Room</th>
      <th>Price</th>
    </tr>
  </thead>

  <tbody>
    <% @pending_bookings.each do |booking| %>
      <tr>
        <td><%= booking.start_date %></td>
        <td><%= booking.end_date %></td>
        <td><%= booking.space %></td>
        <!-- <td> number_to_currency(booking.space.price) </td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<h4>Paid bookings</h4>
<table class="hover">
  <thead>
    <tr>
      <th>Start</th>
      <th>End</th>
      <th>Room</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @paid_bookings.each do |booking| %>
      <tr>
        <td><%= booking.start_date %></td>
        <td><%= booking.end_date %></td>
        <td><%= booking.space %></td>
        <td><%= number_to_currency(booking.space.price) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
