<h1>Host Dashboard</h1>

<h3>My Bookings</h3>

<table class="hover">
  <thead>
    <tr>
      <th>Start</th>
      <th>End</th>
      <th>Room</th>
      <th>Price</th>
      <th>Created</th>
      <th>Approved</th>
      <th>Update</th>
    </tr>
  </thead>

  <tbody>
    <% @spaces.each do |space| %>
      <% space.bookings.each do |booking| %>
      <tr>
        <td><%= booking.start_date %></td>
        <td><%= booking.end_date %></td>
        <td><%= booking.space.name %></td>
        <td><%= number_to_currency(booking.space.price) %></td>
        <td><%= booking.created_at %></td>
        <td><%= booking.approved %></td>
        <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
