<!DOCTYPE html>
<html>
  <head>
    <title>Sprouted</title>
    <!-- <script src="http://maps.googleapis.com/maps/api/js?libraries=places&callback=initAutocomplete" async defer></script>
    <script src="http://maps.googleapis.com/maps/api/js?libraries=places&callback=init" async defer></script> -->

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= render "partials/nav" %>
      <%= yield %>
    </div>
  </body>
</html>
